<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-light">
    <div class="container">
      <h1 class="text-center my-5">Fast food restaranimizga xush kelibsiz!</h1>

      <div
        class="menu d-flex align-items-center p-4 flex-column gap-4 border-1"
      >
        <h3>Menu:</h3>
        <ul
          class="category-list w-50 d-flex justify-content-between list-unstyled"
        >
          <% categories.forEach(ct => { %> 
            <%- include('partials/category', { name : ct.name, isActive: ct?.isActive, id: ct.id }) %> 
          <% }) %>
        </ul>
        <ul class="food-list list-unstyled d-flex gap-4 justify-content-between flex-wrap">
          <% foods.forEach(f => { %>

            <li><%- include('partials/food', {imageUrl: f?.imageUrl , description: f?.description, name: f?.name, price: f?.price }) %> </li>

          <% }) %>
        </ul>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
