<li role="button">
  <a
    href="/?category=<%=id%>"
    class="category-item border text-decoration-none shadow-sm px-3 py-1 rounded-2 text-center <%= isActive ? 'text-primary border-primary' : 'text-secondary border-secondary-subtle' %>"
  >
    <span><%= name %> </span>
  </a>
</li>
